.form {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 100%;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}

.warning {
  grid-column: span 1;
  grid-column: span 2;
  font-size: 0.9rem;
  color: var(--c-text-muted);
}
