.article {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.readMore {
  text-align: left;
  border-bottom: 1px solid #e0dede;
  padding-bottom: 1rem;
  color: var(--c-primary);

  @media (min-width: 768px) {
    text-align: right;
  }
}

.date {
  display: none;
  background-color: var(--c-primary);
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  text-align: center;
  color: white;
  padding: 8px;
  font-size: 1.1rem;
  margin-right: 1rem;

  @media (min-width: 768px) {
    display: flex;
  }

  * {
    display: flex;
  }
}

.day {
  font-size: 1.8rem;
  font-weight: bold;
}

.monthAndYear {
  white-space: nowrap;
}

.image {
  margin-right: 1rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.excerpt {
  small {
    color: var(--c-text-muted);
  }
}
