.topBar {
  display: none;

  @media (min-width: 768px) {
    display: block;
    background-color: var(--c-primary);
    color: white;
    font-size: 0.855rem;
  }
}

.contactInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  a {
    margin-left: 1rem;
  }
}
